:root {
  --az-font-body: 'Montserrat', sans-serif;
  --az-font-heading: 'Bebas Neue', var(--az-font-body);  
  --az-header-height: '56px';
}

body {
  font-family: var(--az-font-body);
}

h1, h2, h3, h4, h4, h5 {
  line-height: 1;
  font-family: var(--az-font-heading);
}

/* Custom Font */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
      url('./fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
      url('./fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2'),
      url('./fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('./fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#site-navbar {
  height: var(--az-header-height);
}