.az-blog-section.az-pad {
  padding: max(7%, 50px) 0;
}

.az-blog-post {
 /* height: clamp(300px, 40vw, 600px); */
  border-radius: 20px;
  overflow: hidden;
}

.az-blog-post i {
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-shadow: 0 .05em .075em #010101b5;
}